<mySearch (notify)="onSearchResults($event)"></mySearch>

<div id="searchResults" [hidden]="!searched">
    <div *ngFor="let result of searchResults" [routerLink]="['/details', result.id]" class="jumbotron row advertisementListItem">
        <div class="col" style ="display: inline; padding: 2em">
            <img src="data:{{result.thumbnail.mediaType}};base64,{{result.thumbnail.resource}}" />
        </div>
        <div class="col" style="display: inline; padding: 2em"><strong>{{result.title}}</strong></div>
    </div>
</div>

