<div class="container">

  <mat-horizontal-stepper #stepper>
    <mat-step label="General">

      <div class="row row-title">
        <div class="col">
          <input class="form-control" type="text" id="title" name="title" [(ngModel)]="advertisement.title" placeholder="Title of advertisement" #title="ngModel" />
          <div *ngIf="!advertisement.title.length && (title.dirty || title.touched)"
               class="alert alert-danger">
            Title is required
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col" align="justify">
          <label>Pick category of your ad:</label> <br />
          <mat-radio-group aria-label="Select an option" [(ngModel)]="advertisement.estateType">
            <mat-radio-button value="House">House</mat-radio-button><br />
            <mat-radio-button value="Flat">Flat</mat-radio-button><br />
            <mat-radio-button value="Room">Room</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col" align="justify">
          <label>Pick type of payment:</label> <br />
          <mat-radio-group aria-label="Select an option" [(ngModel)]="advertisement.pricingType">
            <mat-radio-button value="For sale">For sale</mat-radio-button><br />
            <mat-radio-button value="Rent">Rent</mat-radio-button><br />
            <mat-radio-button value="For exchange">For exchange</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col">
          <label>Pick a thumbnail photo:</label><br />
          <img *ngIf="base64" [src]="base64" />
          <input type="file" (change)="handleFileInput($event.target) " />
        </div>
      </div>


    </mat-step>

    <mat-step label="Location">
      <div class="row">
        <div class="col">
          <label class="float-right">Area of apartment (in  m<sup>2</sup>):</label>
        </div>
        <div class="col">
          <input class="form-control inline" type="number" name="estateArea" [(ngModel)]="advertisement.estateArea" #area="ngModel" />
          <!--<div *ngIf="!(any(advertisement.estateArea).length) && (area.dirty || area.touched)"
               class="alert alert-danger">
            Estate area is required
          </div>-->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="float-right">Address:</label>
        </div>
        <div class="col">
          <textarea class="form-control" name="estateAddress" [(ngModel)]="advertisement.estateAddress" #address="ngModel"> </textarea>
          <div *ngIf="!advertisement.estateAddress.length && (address.dirty || address.touched)"
               class="alert alert-danger">
            Estate address is required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="float-right">City:</label>
        </div>
        <div class="col">
          <input class="form-control" type="text" name="estateCity" [(ngModel)]="advertisement.estateCity" #city="ngModel" />
          <div *ngIf="!advertisement.estateCity.length && (city.dirty || city.touched)"
               class="alert alert-danger">
            City is required
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step label="Price">

      Price: <input class="form-control" type="number" name="price" [(ngModel)]="advertisement.price" #price="ngModel" required />
      <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
        price is required
      </div>


      Provision: <input class="form-control" type="number" name="provision" [(ngModel)]="advertisement.provision" #provision="ngModel" required />
      <div [hidden]="provision.valid || provision.pristine" class="alert alert-danger">
        provision is required
      </div>

      <!--<div *ngIf="advertisement.utilitesCost">
        Utilites:
        <div *ngFor="let utility of advertisement.utilitesCost" class="row" #utilites>

          <div class="col">
            <input placeholder="name of utility" class="form-control" type="text" [(ngModel)]="utility.name" />
          </div>
          <div class="col">
            <input placeholder="name of utility" class="form-control" type="text" [(ngModel)]="utility.price" />
          </div>
        </div>
      </div>
      <button (click)="onAddUtilityClick()" class="btn btn-primary float-right">Add utility</button>-->
      <!--<br />
      <br />
      Total: <input readonly="readonly" class="form-control" type="text" name="totalCost" [(ngModel)]="advertisement.totalCost" />-->

    </mat-step>
  </mat-horizontal-stepper>
  <button class="btn btn-primary float-end" (click)="onSubmit()" type="submit" [disabled]="!advertisement.title.length">Send</button>


</div>
