<div id="searchArea">
    <h1>{{msg}}</h1>
    <form (ngSubmit)="search()">
        <fieldset>
            <legend>Search your place:</legend>
            Locality: <input name="city" type="text" />
            Type of estate:
            <select name="estateType" [(ngModel)]="estateTypeSelected">
                <option *ngFor="let estateType of estateTypes" [value]="estateType">{{estateType}}</option>
            </select>
            Type of payment:
            <select name="paymentType">
                <option value="rent">Rent</option>
                <option value="forSale">For Sale</option>
                <option value="exchange">Exchange</option>
            </select> <br /><br />
            <button type="submit">Search</button>
        </fieldset>
    </form>
</div>