/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {  
  color: #fff;
  background-color: #dbb16e;
  border-color: #dbb16e;
}

.btn-primary:hover,
.btn-primary:active {
  color: #fff;
  background-color: #b17a21 !important;
  border-color: #b17a21 !important;
}

.jumbotron.row {
  color: #2b1b01;
  background-color: #d8ba89;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
