#searchArea {
    background-color: beige;
    padding: 2.5em;
    margin: 0em;
    margin-bottom: 2em;
}

#searchResults {
    margin: 5px;
}

.advertisementListItem:hover {
    background-color: burlywood;
}
