<div class="container">

  <mat-horizontal-stepper #stepper>
    <mat-step label="Step 1">

      <div class="row row-title">
        <div class="col">
          <input class="form-control" type="text" id="title" name="title" [(ngModel)]="advertisement.title" placeholder="Title of advertisement" #title="ngModel" />
          <div *ngIf="!advertisement.title.length && (title.dirty || title.touched)"
               class="alert alert-danger">
            Title is required
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col" align="justify">
          <label>Pick category of your ad:</label> <br />
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">House</mat-radio-button><br />
            <mat-radio-button value="2">Flat</mat-radio-button><br />
            <mat-radio-button value="3">Room</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col" align="justify">
          <label>Pick type of payment:</label> <br />
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">For sale</mat-radio-button><br />
            <mat-radio-button value="2">Rent</mat-radio-button><br />
            <mat-radio-button value="3">For exchange</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


    </mat-step>

    <mat-step label="Step 2">
      <div class="row">
        <div class="col">
          <label class="float-right">Area of apartment (in  m<sup>2</sup>):</label>
        </div>
        <div class="col">
          <input class="form-control inline" type="text" name="estateArea" [(ngModel)]="advertisement.estateArea" #area="ngModel" />
          <div *ngIf="!advertisement.estateArea.length && (area.dirty || area.touched)"
               class="alert alert-danger">
            Estate area is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="float-right">Address</label>
        </div>
        <div class="col">
          <textarea class="form-control" name="estateAddress" [(ngModel)]="advertisement.estateAddress" #address="ngModel"> </textarea>
          <div *ngIf="!advertisement.estateAddress.length && (address.dirty || address.touched)"
               class="alert alert-danger">
            Estate address is required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="float-right">City</label>
        </div>
        <div class="col">
          <input class="form-control" type="text" name="estateCity" [(ngModel)]="advertisement.estateCity" #city="ngModel" />
          <div *ngIf="!advertisement.estateCity.length && (city.dirty || city.touched)"
               class="alert alert-danger">
            City is required
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step label="Step 3">

      Price: <input class="form-control" type="text" name="price" [(ngModel)]="advertisement.price" />
      <div [hidden]="advertisement.price.length" class="alert alert-danger">
        price is required
      </div>


      Provision: <input class="form-control" type="text" name="provision" [(ngModel)]="advertisement.provision" />
      <div [hidden]="advertisement.provision.length" class="alert alert-danger">
        provision is required
      </div>

      <div *ngFor="let utility of advertisement.utilitesCost" class="row" #utilites>
        <div class="col">
          <input placeholder="name of utility" class="form-control" type="text" [(ngModel)]="utility.name" />
        </div>
        <div class="col">
          <input placeholder="name of utility" class="form-control" type="text" [(ngModel)]="utility.price" />
        </div>
      </div>
      <button (click)="onAddUtilityClick()" class="btn btn-primary float-right">Add utility</button>
      <br />
      <br />
      Total: <input readonly="readonly" class="form-control" type="text" name="totalCost" [(ngModel)]="advertisement.totalCost" />

    </mat-step>
  </mat-horizontal-stepper>
  <button class="btn btn-primary float-right" type="submit" [disabled]="!advertisement.title.length">Send</button>


</div>
