<mySearch (notify)="onSearchResults($event)"></mySearch>


<h2 *ngIf="!advertisements">This is where <em>all</em> ads will be (promoted first)...</h2>
<div *ngIf="advertisements">
    <ol>
        <li *ngFor="let advertisement of advertisements">
            <ul>
                <li>{{advertisement.id}}</li>
                <li>{{advertisement.category.id}}</li>
                <li>{{advertisement.createDate}}</li>
                <li>{{advertisement.validityTime}}</li>
                <li>{{advertisement.user.login}}</li>
                <li>{{advertisement.apartment}}</li>
                <li>{{advertisement.price}}</li>
                <li>{{advertisement.provision}}</li>
                <li>{{advertisement.apartment}}</li>
                <li>{{advertisement.totalCost}}</li>
                <li *ngFor="let utility of advertisement.utilitiesCost">{{utility}}</li>
                <li>{{advertisement.links}}</li>
                <li *ngFor="let link of advertisement.links"><a href="{{link.href}}">{{link.title}}</a></li>
            </ul>
        </li>
    </ol>
</div>

blbladd